
	<div id="wrap" class="gradient">
		
		<h4>La Social Good Week est une semaine d'événements, partout en France, conçue pour faire<br/>
se rencontrer l'innovation technologique et la solidarité.</h4>
		
 		<section id="left-column">
 			<div class="carte-france"><img src="assets/carte-france.jpg"/></div>

			<%= render_content_page(@page, {
			      :hide_sections => local_assigns[:hide_sections],
			      :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
			    }) %>

    		<article>
    			<div class="img-article">
    				<img src="assets/dummy-img-article.jpg" alt="nom de l'image" width="220px" height="120px"/>
    			</div>
    			<div class="img-article2">
    				<h3>La Social Good Week au Studio SFR</h3>
    				<p>
    					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue...
    				</p>
    			</div>
    			<div class="clear"></div>
    			<div class="date">posté par XXXXXX le XX.XX.XX</div>
    		</article>
    		<article>
    			<div class="img-article">
    				<img src="assets/dummy-img-article.jpg" alt="nom de l'image" width="220px" height="120px"/>
    			</div>
    			<div class="img-article2">
    				<h3>La Social Good Week au Studio SFR</h3>
    				<p>
    					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue...
    				</p>
    			</div>
    			<div class="clear"></div>
    			<div class="date">posté par XXXXXX le XX.XX.XX</div>
    		</article>
    		<article>
    			<div class="img-article">
    				<img src="assets/dummy-img-article.jpg" alt="nom de l'image" width="220px" height="120px"/>
    			</div>
    			<div class="img-article2">
    				<h3>La Social Good Week au Studio SFR</h3>
    				<p>
    					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue...
    				</p>
    			</div>
    			<div class="clear"></div>
    			<div class="date">posté par XXXXXX le XX.XX.XX</div>
    		</article>
    		
    		<div style="width:570px; height:30px; border:solid 1px gray; text-align:center;">Pagination</div>
    		
  		</section>
  		
  		
  		
 		<aside id="right-column">
 			<div class="btn-right">
   				<div><img src="assets/bloc-calendrier.jpg" /></div>
   				<div><img src="assets/bloc-creation.jpg" /></div>
   				<div><img src="assets/bloc-partenaires.jpg" /></div>
   			</div>
   			<div style="width:300px; height:300px; border:solid 1px gray; text-align:center;">flux twitter</div>
   			<div style="width:300px; height:300px; border:solid 1px gray; text-align:center;">bloc facebook</div>
  		</aside>
  		
  		
  		<div class="clear"></div>
	</div>

<%= render :partial => '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>
