<div id="wrap" class="gradient">
	
	<h4>Comment les nouvelles technologies peuvent-elles résoudre des problématiques sociétales ? </h4>
	
		<section id="left-column">
			<div class="carte-france"><img src="assets/carte-france.jpg"/></div>

		<%= render_content_page(@page, {
		      :hide_sections => local_assigns[:hide_sections],
		      :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
		    }) %>

 		</section>
 		 		
		<aside id="right-column">
			<div class="btn-right">
  				<div><a href="/evenements"><img src="assets/bloc-calendrier.jpg" alt="Evénements"/></a></div>
  				<div><a href="/contact"><img src="assets/bloc-creation.jpg" alt="Proposez un événement" /></div>
  				<div><a href="/partenaires"><img src="assets/bloc-partenaires.jpg" alt="Partenaires" /></div>
  			</div>
  			<div style="width:300px; height:300px; border:solid 1px grey; text-align:center;">flux twitter</div>
  			<div style="width:300px; height:300px; border:solid 1px grey; text-align:center;">
			<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
			<fb:like-box href='https://www.facebook.com/SocialGoodWeek' width='300px' show_faces='true' border_color='grey' stream='false' header='false'></fb:like-box>"
  			</div>
 		</aside>
 		
 		<div class="clear"></div>
</div>

<%= render :partial => '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>