<footer>
	<section id="partenaires">
		<h2><img src="assets/cercles.png" />Partenaires</h2>
		<h3>
			<span>Fondateur</span> <span>Sponsors</span>
		</h3>
		<div class="the-fondateur">
			<a href="/partenaires#mailforgood" alt="MailForGood"><img src="assets/logos/logo_mailforgood.jpg" alt="MailForGood"/></a>
		</div>
		<div><a href="/partenaires#sfr" alt="SFR"><img src="assets/logos/logo_sfr.png" alt="SFR"/></a></div>
		<div><a href="/partenaires#suez" alt="Suez Environnement"><img src="assets/logos/logo_suez.png" alt="Suez Environnement"/></a></div>
		<span class="clear"></span>
		<h3><span>Co-organisateurs</span></h3>
		<div><a href="/partenaires#diderot" alt="Fondation & Université Paris Diderot"><img src="assets/logos/logo_diderot.jpg" alt="Fondation & Université Paris Diderot"/></a></div>
		<div><a href="/partenaires#arizuka" alt="Arizuka"><img src="assets/logos/logo_arizuka.jpg" alt="Arizuka"/></a></div>
		<div><a href="/partenaires#cap" alt="Carrefour des Associations Parisiennes"><img src="assets/logos/logo_cap.png" alt="Carrefour des Associations Parisiennes"/></a></div>
		<div><a href="/partenaires#prl" alt="Paris Region Lab"><img src="assets/logos/logo_prl.png" alt="Paris Region Lab"/></a></div>
		<div><a href="/partenaires#aff" alt="Association Française des Fundraisers"><img src="assets/logos/logo_aff.jpg" alt="Association Française des Fundraisers"/></a></div>
		<div><a href="/partenaires#babyloan" alt="Babyloan"><img src="assets/logos/logo_babyloan.png" alt="Babyloan"/></a></div>
		<div><a href="/partenaires#makesense" alt="MakeSense"><img src="assets/logos/logo_makesense.jpg" alt="MakeSense"/></a></div>
		<div><a href="/partenaires#dreamshake" alt="DreamShake"><img src="assets/logos/logo_dreamshake.jpg" alt="DreamShake"/></a></div>
		<div><a href="/partenaires#sparknews" alt="SparkNews"><img src="assets/logos/logo_sparknews.jpg" alt="SparkNews"/></a></div>
		<div><a href="/partenaires#sharelex" alt="Sharelex"><img src="assets/logos/logo_sharelex.png" alt="Sharelex"/></a></div>
		<div><a href="/partenaires#koeo" alt="Koeo"><img src="assets/logos/logo_koeo.png" alt="Koeo"/></a></div>
		<div><a href="/partenaires#danone" alt="Danone Communities"><img src="assets/logos/logo_danone.jpg" alt="Danone Communities"/></a></div>
	</section>
	
	<div>
		<img src="assets/bg-footer.jpg" alt="background footer" />
	</div>
	<%= render(:partial => "/refinery/menu", :locals => {
	             :dom_id => 'footer',
	             :css => 'footer'
	           }) %>
	<div class="logo-footer">
		<img src="assets/sgw-footer-logo.jpg" alt="Social Good Week"/>
		<br/>
		<%= t('.copyright', :year => Time.now.year,
	                      :site_name => Refinery::Core.site_name) %>
		<br/><br/>
		- <a href="/a-propos">Mentions légales</a> -
	</div>
</footer>