<header>
	<div id="bandeau-social">
		<div>
			 
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.socialgoodweek.com" data-via="socialgoodweek" data-lang="fr" class="header-twitter" style="height:32px; width:130px">Tweeter</a>
			<a href="https://twitter.com/socialgoodweek" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @socialgoodweek</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.socialgoodweek.com&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21&amp;appId=153249764741742" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
		</div>

			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			
	</div>
	<div class="header-wrapper">
		<h1>
			<%= link_to image_tag("sgw-header-logo.png"), refinery.root_path %>
		</h1>
		<%= render(:partial => "/refinery/menu", :locals => {
		             :dom_id => 'menu',
		             :css => 'menu'
		           }) %>
		
		<div class="clear"></div>
	</div>
		
</header>