<header>
	<h1 id='logo'>
	  <%= link_to image_tag("SocialGoodWeek.jpg"), refinery.root_path %>
	</h1>
	<%= render(:partial => "/refinery/menu", :locals => {
	             :dom_id => 'menu',
	             :css => 'menu'
	           }) %>
</header>