@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

html {
	background-color: white;
	width: 100%;
}

body {
  width: 100%;
  color: black;
  background-color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
}

#wrapper {
	height: 100%;
	width: 100%;
}

#page_container {
	width: 970px;
	margin: 0 auto;
}

header {
	height: 200px;
	width: 100%;
	display: block;
	h1 {
		width: 483px;
		float: left;
	}
	nav {
		display: block;
		float: right;
		height: 100%;
		padding-top: 150px;
	}
	ul {
	 	list-style: none;
	  	padding: 0px;
	  	display: block;
	  	li {
	    	float: left;
	    	margin-right: 10px;
	    	a {
	      		display: block;
	      		padding: 5px 10px;
	      		text-decoration: none;
				color: black;
	    	}
	    &.selected a, a:hover {
	      background: #CCC;
	    }
	  }
	}
}

#body_content, #side_body_content {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}



footer p {
	text-align: center;
}